.backToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: hsl(347, 87%, 63%);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s;
}

.backToTopButton:hover {
    opacity: 0.7;
}

.hide {
    display: none;
}